#grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
	background-color: #d8e2dc;
	border: 1px solid #798478;
	width: 100vh;
	height: 100vh;
	margin: 0 auto;
}

.tile {
  text-align: center;		
  background: url(./logo.svg) no-repeat center;
	background-color: #588b8b;
	overflow: hidden;
	}
